<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head"></head>
<body>
<header th:replace="layout :: logged-out"></header>

<main class="page">
    <h1 class="page-title">Register</h1>
    <p class="page-lead">Create an account.</p>

    <form class="form" th:action="@{/users/registration}" th:method="POST" th:object="${User}">
        <label>
            Username
            <input type="text" id="username" name="username" th:field="*{username}" required="required"/>
        </label>
        <label>
            Password
            <input type="password" id="password" name="password" th:field="*{password}" required="required"/>
        </label>
        <label>
            Full name
            <input type="text" id="fullname" name="fullName" th:field="*{profile.fullName}" required="required"/>
        </label>
        <label>
            Email
            <input type="text" id="emailaddress" name="emailAddress" th:field="*{profile.emailAddress}"/>
        </label>
        <label>
            Mobile
            <input type="text" id="mobilenumber" name="mobileNumber" th:field="*{profile.mobileNumber}"/>
        </label>
        <input type="submit" value="Register"/>
    </form>
</main>
</body>
</html>
